# python=3.10
requests==2.31.0
streamlit==1.28.2
pytube3==9.6.4
openai==1.3.5
tafrigh[wit]==1.1.1

# installing yt-dlp and FFmpeg, dependencies for tafrigh
# sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
# sudo chmod a+rx /usr/local/bin/yt-dlp  # Make executable